@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}

.menu {
    width: 70%;
    margin: auto;
    background-color: #202932;
    display: flex;
    color: white;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.menu-tab {
    width: 50%;
    text-align: center;
}

.btn {
    color: white;
    background-color: green;
}

.form {
    width: 50%;
    margin: auto;
    background-color: #202932;
    border-top-right-radius: 30px;
    color: white;
}

.form-wrapper {
    width: 90%;
    margin: auto;
    text-align: center;
}

.subtitle {
    text-align: center;
}

input {
    width: 60%;
    font-family: sans-serif;
    text-align: center;
}